footer{
    margin: 35px;
    text-align: center;
}

footer p{
    padding-bottom: 5px;
    font-family: 'Monserrat';
    font-weight: bold;
    color: rgb(80, 80, 80);
}

footer a{
    color: #77C8F8;
}

footer div a img{
    width: 35px;
    padding: 10px;
}